<launch>
    <include file="$(find gripper_ntlab_controller)/launch/controller.launch" />
    <node name="serial_node" pkg="rosserial_python" type="serial_node.py">
        <param name="port" type="string" value="/dev/ttyACM0"/>
        <param name="baud" type="int" value="115200"/>
    </node>

    <node name="cobotta_gripper_ntlab_controller" pkg="gripper_ntlab_controller" type="cobotta_gripper_ntlab_controller" output="screen"/>
</launch>
