<launch>
    <arg name="baud" default="460800" />
    <arg name="fs1" default="/dev/ttyUSB1" />
    <arg name="fs2" default="/dev/ttyUSB2" />
    <arg name="fs3" default="/dev/ttyUSB0" />
    <arg name="filtered" default="True" />
    <arg name="hpf_threshold" default="0.01" />

    <node name="fs_read_node_l1" type="fs_read_node" pkg="gripper_ntlab_sensor" output="screen">
        <param name="port" type="string" value="$(arg fs1)"/>
        <param name="baud" type="int" value="$(arg baud)" />
        <param name="topic_name" type="string" value="/fs1" />
        <param name="topic_reset_name" type="string" value="/fs1_reset" />
        <param name="filtered" type="bool" value="$(arg filtered)" />
        <param name="hpf_threshold" value="$(arg hpf_threshold)" />
    </node>
    <node name="fs_read_node_l2" type="fs_read_node" pkg="gripper_ntlab_sensor" output="screen">
        <param name="port" type="string" value="$(arg fs2)"/>
        <param name="baud" type="int" value="$(arg baud)" />
        <param name="topic_name" type="string" value="/fs2" />
        <param name="topic_reset_name" type="string" value="/fs2_reset" />
        <param name="filtered" type="bool" value="$(arg filtered)" />
        <param name="hpf_threshold" value="$(arg hpf_threshold)" />
    </node>
    <node name="fs_read_node_l3" type="fs_read_node" pkg="gripper_ntlab_sensor" output="screen">
        <param name="port" type="string" value="$(arg fs3)"/>
        <param name="baud" type="int" value="$(arg baud)" />
        <param name="topic_name" type="string" value="/fs3" />
        <param name="topic_reset_name" type="string" value="/fs3_reset" />
        <param name="filtered" type="bool" value="$(arg filtered)" />
        <param name="hpf_threshold" value="$(arg hpf_threshold)" />
    </node>

    <node name="cop_calculate_node" type="cop_calculate_node" pkg="gripper_ntlab_sensor" output="screen"/>

</launch>