<launch>
    <node name="serial_node" pkg="rosserial_python" type="serial_node.py">
        <param name="port" type="string" value="/dev/ttyACM0"/>
        <param name="baud" type="int" value="115200"/>
    </node>

    <node name="gripper_ntlab_controller" pkg="gripper_ntlab_controller" type="gripper_ntlab_controller"/>

    <arg name="base_type" default="none"/>

    <param name="robot_description" command="$(find xacro)/xacro '$(find gripper_ntlab_description)/urdf/gripper_ntlab.xacro'"/>
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find gripper_ntlab_description)/launch/config.rviz"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="true"/>
    </node>

</launch>
