<launch>
    <arg name="base_type" default="none"/>

    <param name="robot_description" command="$(find xacro)/xacro '$(find gripper_ntlab_description)/urdf/gripper_ntlab.xacro'"/>
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find gripper_ntlab_description)/launch/config.rviz"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="true"/>
    </node>
</launch>