<launch>

<rosparam file="$(find assembly_urdf_description)/launch/controller.yaml" command="load"/>
<node args="assembly_urdf_controller/l_base_hand_r_position_controller 
            assembly_urdf_controller/r_base_hand_r_position_controller
            assembly_urdf_controller/l_hand_rod_a_position_controller 
            assembly_urdf_controller/r_hand_rod_a_position_controller 
            assembly_urdf_controller/l_finger_roll_position_controller
            assembly_urdf_controller/joint_state_controller " name="controller_spawner" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/assembly_urdf/joint_states"/>
</node>

</launch>